.all-consoles-container {
    padding-top: 0.1em;
    background: black;
    color:white;
    text-align: center;
}

.console-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.console-search input{
    border-radius: 15px 50px 20px;
    background: rgb(36, 13, 184);
    color:white;
    padding: 10px; 
    margin: 10px;
    width: auto;
    height: 10px;
    font-family: "MV Boli";
    font-size: 1em;
}
