.all-players-container {
    padding-top: 0.1em;
    background: black;
    color:white;
    text-align: center;
}

.player-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player-search input{
    border-radius: 15px 50px 20px;
    background: rgb(36, 13, 184);
    color:white;
    padding: 10px; 
    margin: 10px;
    width: auto;
    height: 10px;
    font-family: "MV Boli";
    font-size: 1em;
}

p {
    font-family: 'Press Start 2P', cursive;
}

label {
    font-family: 'VT323', monospace;
    font-size: 30px;
}

h2 {
    font-size: 50px;
    font-family: 'VT323', monospace;
}
